$day-size: 100px;
$gap-size: 1px;
$calendar-padding: 10px;
$days-per-week: 7;
$start-days: (sun 0, mon 1, tue 2, wed 3, thu 4, fri 5, sat 6);
$calendar-columns-width: $day-size * $days-per-week;
$calendar-gaps-width: $gap-size * ($days-per-week - 1);
$calendar-paddings-width: $calendar-padding * 2;
$calendar-content-width: $calendar-columns-width + $calendar-gaps-width;
$calendar-width: $calendar-content-width + $calendar-paddings-width;
